@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Poppins&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar, section.table-section::-webkit-scrollbar {
    width: 13px;
}

/* @media only screen and (max-width: 300px) {
    #lbp-text-body {
       width: 40px;
    }
} */
p {
    display: inline-block;
}

html::-webkit-scrollbar-thumb, section.table-section::-webkit-scrollbar-thumb {
    background-color: #202225;
    border-radius: 10px;
}

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: rgb(240, 240, 240);
}

header p {
    color: #000000;
}

button.updateButton, button.deleteButton {
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 12px;
    color: #ffffff;
    background-color: #0298cf;
    font-size: 15px;
}
button{
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 15px 20px;
    color: #ffffff;
    background-color: #0298cf;
    font-size: 17px;
}

nav{
    margin-right:20px;
}



.topic {
    padding: 10px 20px;
    margin: 0 10px;
    outline: none;
    border: 1px solid #0298cf;
    border-radius: 6px;
    color: #0298cf;
}

::placeholder{
    color: #0298cf;
}



::placeholder {
    color: #0298cf;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

h2 {
    margin-left: 50px;
    font-size: 40px;
}

h3 {
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-left: 70px;
}

tbody{
    margin-left: 70px;
}

#inf{
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    margin-bottom: 40px;
}

#input_name {
    width: 40%;
    display: block;
    align-items: center;
    margin: 0 10px;
    padding: 10px 10px;
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 30px;
    outline: none;
    border: 1px solid #0298cf;
    border-radius: 6px;
    color:#393d3f;
    font-size: 14px;
}

#input_tag {
    width: 40%;
    display: block;
    align-items: center;
    padding: 10px 10px;
    margin: 0 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 70px;
    outline: none;
    border: 1px solid #0298cf;
    border-radius: 6px;
    color:#393d3f;
    font-size: 14px;
}

#input_data {
    width: 70%;
    display: block;
    margin: 0 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding: 10px 10px;
    margin-left: 70px;
    outline: none;
    border: 1px solid #0298cf;
    border-radius: 6px;
    color:#393d3f;
    resize: vertical;
    font-size: 14px;
}

#seperate_slides {
    margin: 0 10px;
    margin-bottom: 30px;
    margin-left: 70px;
    margin-top: 10px;
}


textarea:focus, input:focus{
    border-color: #0298cf;
    box-shadow: 0 0 10px #0298cf;
}